.btn {
  color: $accent-3-d;
  border-color: $accent-3-d;
  background-color: $white;
  padding: 0.7rem 1.5rem;
  border-radius: 3px;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 1px;
  transition: all 200ms ease-in-out;
  &:hover, &:focus {
    color: $white;
    border-color: $accent-1;
    background-color: $accent-1;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }
  &--accent{
    color: $white;
    border-color: $accent-2;
    background-color: $accent-2;
  }
  &--disable, &--disable:hover, &:disabled {
    border-color: $gray;
    background-color: $gray;
    color: rgba($white, 0.5);
    opacity: 0.5;
    cursor: default;
  }
  &--light {
    border: none;
    background-color: rgba($white, 0.65);
    color: $accent-2 !important;
    &-d {
      border: 1px solid $white;
      background-color: transparent;
      color: $white !important;
      &:hover, &:focus {
        color: $accent-1 !important;
        border: 1px solid transparent;
      }
    }
    &:hover, &:focus {
      background-color: $white;
      text-decoration: none;
      border: 1px solid transparent;
    }
  }
}

// Medium devices (tablets, < than 992px)
@include media-breakpoint-down(md) {
  .btn{
    padding: 0.4rem 1rem;
    font-size: 1.6rem;
  }
}