.elements {
	display: flex;
	justify-content: center;

	&__item {
		text-align: center;
		width: 20rem;
		max-width: 100%;
		padding: 1.5rem;
		margin: 1rem;

		img {
			margin-bottom: 3rem;
		}

		h3, h3 *{
			@include font($fz:1.6rem, $color:$accent-3-d);
			margin-top: 1rem;
			font-weight: 400;

			a:hover, a:focus{
				color: $accent-1;
				text-decoration: none;
			}
		}
		
		p{
			color: $gray;
		}
	}
}